.MainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
   flex-direction: row;
   font-family: 'Open Sans', sans-serif;
   overflow-y: hidden;
   overflow-x: hidden;
   position: relative;
}
.MainLogoContainer{
    width: 12%;
    margin-left: 1rem;
}
.LogoSpinner>img{
    width: 100%;
    content: icon;
}
.LogoSpinner{
    width: 100%;
}
.SecondaryContainer{
    width: 88%;
    display: flex;
    flex-direction: column;
}
.HeaderContainer{
    width: 85%;
    padding: 3rem;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    height: 24%;
    padding-bottom: 1rem;
    align-items: center;
   justify-content: center;
   margin: 0.2rem;
   padding-top: 1rem;
}
.HeaderContainer>h1{
   font-size: 3rem;
   font-style: normal;
   color: #455AF7;
   letter-spacing: 0.2rem;
   font-weight: 800;
   line-height: 2rem;
   margin-bottom: 0.2rem;
   width: 100%;
   text-align: center;
   
}
.HeaderContainer>h2{
    font-style: normal;
    letter-spacing: 0.5rem;
    color: #6B6B6D;
    width: 100%;
    text-align: center;
}
.FormContainer{
    width: 100%;
  display: flex;
  justify-content: center;
}
.FormContainerSubmit{
    transition: all 0.5s ease;
    transform: translateX(-100vw) !important;
}

.RegisterForm{
    width: 25rem;
    height: 67vh;
    background-color: #FFFFFF;
    border: 1px solid #f8f8f8;
    box-shadow: 1px 5px 5px rgb(0 0 0 / 5%);
    
    box-sizing: border-box;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.InputBox{
    width: 100%;
    margin-top: 1.2rem;
}
.InputTag{
    width: 100%;
    height: 4rem;
    outline: none;
    background-color: #E8F0FE;
    border: 1px solid #F8FAFB;
    box-sizing: border-box;
    margin: 0;
    border-radius: 10px;
    padding-left: 2rem;
    font-size: 1.2rem;
}
.EyeIcons {
    position: relative;
    top: -49%;
    right: -83%;
    cursor: pointer;
    color: #b4b4b4;
  }
  .ActivePassword{color:#455AF7}
  .Btn{
    width: 100%;
    height: 4rem;
    outline: none;
    background-color: #455AF7;
    border: 1px solid #F3F5F5;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    border-radius: 10px;
   color: #F8FAFB;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
  }
  .LinkSeg{
   text-decoration: none;
   color: #000;
  }
  .SuccessContainer{
    position: absolute;
    right: 35%;
    width: 20%;
    height: 50px;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
    border-radius: 10px;
    color: #455AF7;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}
.SuccessContainerHidden{
    position: absolute;
    right: -1000%;
    top: 40%;
    width: 20%;
    height: 50px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
    border-radius: 10px;
    color: #455AF7;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}