.MainContainer{
    background-color: #F6F8FA;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
   
}
.SideBarLeftContainer{
    width: 15vw;
    height: auto;
    background-color: #F6F8FA;
    border: 0.1px solid #F6F8FA;
   
    
}

.MainContentContainer{
    width: 65vw;
    background-color: #F8FAFB;
  
}
.SideBarRightContainer{
    width: 20vw;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
    border-top-left-radius:24px ;
    border-bottom-left-radius:24px ;
   
}
