.Card{
   width: 18%;
   display: flex;
   padding: 1rem;
   padding-left: 2rem;
   background-color: #FFFFFF;
   margin-left: 0.2rem;
   margin-bottom: 2rem;
   flex-direction: row;
   height: 50px;
   align-items: center;
   border-radius: 12px;
   filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
  position: relative;
  cursor: pointer;
}
.BorderWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
      display: block;
    left: 0;
   
    border-bottom: 3px solid #475AF0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.BorderWrapper::before{
    content: '';
    position: absolute;
    bottom: -15%;
  left: 8%;
    
  
    width: 0;
	height: 0;
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #475AF0;
    /* background: #475AF0; */
}
.NonBorder{
    display: none;
}

.IconWrapper{
    width: 25%;
    
    
}
.IconWrapper>img{
    width: 100%;
}
.DetailWrapper{
    display: flex;
    width: 75%;
    flex-direction: column;
    margin-left: 1.2rem;
    align-items: center;
    justify-content: center;
}
.Detail{
    color: #C7C7C7;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}
.Number{
    font-size: 1.2rem;
    width: 100%;
    font-weight: 700;
    color: #2C2C2C;
}